<% include ../partials/head.ejs %>

<!-- INTRO SECTION STARTS -->
<table align="center" bgcolor="#f8f8f8" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
  <tr>
    <td align="center">

      <!-- SECTION TABLE-700 END -->
      <table align="center" border="0" bgcolor="#f2f2f2" cellpadding="0" cellspacing="0" class="display-width" width="700">
        <tbody>
        <tr>
          <td height="60" ></td>
        </tr>

        <tr>
          <td align="center" style="padding:0px 30px;">
            <!--SECTION TABLE-600-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="600">
              <tbody>
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                      <!--SECTION HEADING-->
                      <td align="center" class="heading" style="color:#333333; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:25px; font-weight:800; text-transform:capitalize; letter-spacing:0.5px;">
                        Get . Set . Start
                      </td>
                    </tr>
                    <tr>
                      <td height="20"></td>
                    </tr>
                    <tr>
                      <td valign="middle" align="center" style="color:#1f2532;">
                        <img src="http://guiwidgets.com/demo/flaten/images/green-line.png" alt="75x2" width="75" height="2" style="margin:0; padding:0; display:block;" />
                      </td>
                    </tr>
                    <tr>
                      <td height="25"></td>
                    </tr>
                    <tr>
                      <td align="center" class="MsoNormal" style="color:#666666; font-family:'Segoe UI', Arial, Verdana, Trebuchet MS, sans-serif; font-size:14px; font-weight:400; line-height:24px;">
                        Click <a style="color: #3ccbb2; text-decoration: none" href="<%= link%>">here</a> to verify your email address.
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              </tbody>
            </table>
            <!--SECTION TABLE-600 END-->


          </td>
        </tr>
        <tr>
          <td height="60"></td>
        </tr>
        </tbody>
      </table>
      <!-- SECTION TABLE-700 END -->
    </td>
  </tr>
  </tbody>
</table>
<!-- INTRO SECTION ENDS -->

<% include ../partials/footer.ejs %>