Hello <%= username%>,<br/>
<br/>
Welcome to RestCoder! <br/>

<br/>
Please click the link below to verify your email address.<br/>
<br/>

<a href="<%= link%>"><%= link%></a><br/>

<br/>
Thanks!<br/>
RestCoder
